<div class="tags">
  <!-- 页面标题 -->
  <h1 class="tags-title">
    文章标签
  </h1>
  
  <!-- 标签云 -->
  <div class="tags-cloud">
    <% site.tags.each(function(tag) { %>
    <a href="<%- url_for(tag.path) %>" class="tag-cloud-item" style="font-size: <%= tag.posts.length * 3 + 10 %>px;">
      <%= tag.name %> <span class="tag-count"><%= tag.posts.length %></span>
    </a>
    <% }) %>
  </div>
  
  <!-- 标签列表 -->
  <div class="tags-list">
    <% site.tags.each(function(tag) { %>
    <div class="tag-item">
      <!-- 标签名称和文章数量 -->
      <h2 class="tag-name">
        <a href="<%- url_for(tag.path) %>">
          <%= tag.name %> <span class="tag-count"><%= tag.posts.length %></span>
        </a>
      </h2>
      
      <!-- 标签下的文章列表 -->
      <div class="tag-posts">
        <% tag.posts.each(function(post) { %>
        <article class="tag-post-item">
          <a href="<%- url_for(post.path) %>" class="tag-post-title">
            <%= post.title %>
          </a>
          <span class="tag-post-date"><%= date(post.date, config.date_format) %></span>
        </article>
        <% }) %>
      </div>
    </div>
    <% }) %>
  </div>
</div>